# Use official Anchor image (Solana Foundation). Windows: run build/test in Docker.
# https://hub.docker.com/r/solanafoundation/anchor
# Build:  docker compose run --rm anchor-build
# Test:   docker compose run --rm --profile test anchor-test

services:
  anchor-build:
    image: solanafoundation/anchor:v0.31.1
    working_dir: /workdir
    volumes:
      - .:/workdir
    command: anchor build
    environment:
      - SKIP_LINT=1

  anchor-test:
    image: solanafoundation/anchor:v0.31.1
    working_dir: /workdir
    volumes:
      - .:/workdir
    command: anchor test
    environment:
      - SKIP_LINT=1
    profiles:
      - test
